:root {
  --color-1: #203040;
  --color-2: #ffffff;
  --color-3: #f08040;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 16px * 62.5 = 10px = 1rem */
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-size: 1.6rem;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer"
  ;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: var(--color-1);
  color: var(--color-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

header a {
  color: var(--color-2);
  font-weight: bold;
  text-decoration: none;
}

header a:hover {
  color: var(--color-3);
}

.brand a {
  font-size: 3rem;
}

footer {
  background-color: var(--color-1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-2);
}